
.card_desc {
    background-color: lightgray;
    width: 100%;
}
img {
    border-radius: 5px 5px 0 0;
}

/*  SECTIONS  */
.section {
    clear: both;
    margin: 0px;
    padding: 2px 16px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}
    .col:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .col:first-child {
        margin-left: 0;
    }


/*  GROUPING  */
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /* For IE 6/7 */
}

/*  GRID OF THREE  */

.span_3_of_3 {
    width: 100%;
}

.span_2_of_3 {
    width: 66.1%;
}

.span_1_of_3 {
    width: 32.2%;
}

.span_1_of_5 {
    width: 20%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }

    .span_3_of_3, .span_2_of_3, .span_1_of_3 .span_1_of_5 {
        width: 100%;
    }
}
