
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>The News of Politics</h2>
<div class="container-fluid">

    <h3>News is great!</h3>
    <p>Don't you agree? News keeps us informed, it keeps us up-to-date, it keeps us sane!
    Without it, we wouldn't know the state of your country or, globally speaking, the rest of the world.
    Without it, we wouldn't know what bills have passed in our land, the issues that occur daily, the stories and messages that should be shared.
    News is great, and it has pushed the world into the information era.
    </p>
    <h3>Is News Really that Great?</h3>
    <p>
        Yes! News is great, but how it is delivered can be a little bothersome.
        BOTTOM LINE, Politics.
        Politics can be hard to follow, and too be quite honest, pretty mundane at times.
        So mundane, in fact, that many citizens do not regularly follow them.
        With politices, come collective opinons that a largley, if not fully, influenced by the political ideology.
        These opinons can be detrimental to viewers who have not heard the whole story as they will try to sway the viewer either to the left or the right (politiaclly  speaking).
        These polically biased view of news are made public by their respective channels.
        So in this sense, news isnt so great, as it doesn't always share expose the most fundamental building block... THE TRUTH.
    </p>
    <h3>A Solution?</h3>
    <p>
        Honestly, as long as there are political parties, News will ALWAYS be reported with bias.
        However, we can lessen this, by giving you EVERYTHING!
        All news sources, from the whole political spectrum.
        If we can't change what the news is reporting to us, atleast we can see the issues from all angles.
    </p>
</div>
<div class="container">
    <div>
        <a href="http://www.journalism.org/2014/10/21/political-polarization-media-habits/pj_14-10-21_mediapolarization-08/">
            <img width="640" height="575" src="http://www.journalism.org/wp-content/uploads/sites/8/2014/10/PJ_14.10.21_mediaPolarization-08.png?w=640" 
                                                                                                                                  class="attachment-large size-large" alt=""
                                                                                                                                  srcset="http://www.journalism.org/wp-content/uploads/sites/8/2014/10/PJ_14.10.21_mediaPolarization-08.png 640w, 
                                                                                                                                  http://www.journalism.org/wp-content/uploads/sites/8/2014/10/PJ_14.10.21_mediaPolarization-08-300x269.png 300w,
                                                                                                                                  http://www.journalism.org/wp-content/uploads/sites/8/2014/10/PJ_14.10.21_mediaPolarization-08-200x179.png 200w, 
                                                                                                                                  http://www.journalism.org/wp-content/uploads/sites/8/2014/10/PJ_14.10.21_mediaPolarization-08-260x233.png 260w,
                                                                                                                                  http://www.journalism.org/wp-content/uploads/sites/8/2014/10/PJ_14.10.21_mediaPolarization-08-50x44.png 50w" 
                                                                                                                                  sizes="(max-width: 640px) 100vw, 640px" /></a>
    </div>
</div>

