<div class="container">
    <div style="width:50%">
        <h1>No Content Found!</h1>
        <p>It appears that this page does n ot contain any content at the moment. Please try again at a later time.</p>
        <p>If the issue persists please conatct us <a>here</a></p>
        <img src="~/Content/Images/No_Content.svg" />
    </div>
</div>
