@model MVC_WebScrapper.Models.CNBCStories

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CNBC</title>
</head>
<body>
   <div>
       <p>This will be used to Display info from the CNBC website</p>
   </div>
</body>
</html>
